.header {
  display: flex;
  /*justify-content: space-between;*/
  min-height: 74px;
  max-width: 880px;
  margin: 45px auto 40px;
  border-bottom: 1px solid #545454;
}

@media screen and (min-width: 768px) and (max-width: 933px) {
  .header {
    margin: 45px 27px 40px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    flex-direction: column;
    min-height: 55px;
    margin: 0 0 42px;
    border-bottom: none;
  }
}