.hamburger {
  width: 24px;
  height: 21px;
  margin: 0;
  padding: 0;
  border: none;
  background: unset;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 767px){
  .hamburger {
    display: block;
  }
}
