.profile {
  max-width: 880px;
  margin: 0 auto 51px;
  padding: 0 19px;
  display: grid;
  gap: 30px;
  grid-template-columns: 120px calc(100% - 330px) 150px;
  grid-template-rows: 1 1fr;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .profile {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-bottom: 36px;
  }
}