.auth__input {
  height: 27px;
  margin-bottom: 3px;
  border: 0;
  border-bottom: 2px solid #ccc;
  background: unset;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}

.auth__input::placeholder {
  font-weight: 400;
  color: #ccc;
}

.auth__input:focus {
  outline: none;
}